@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&family=Lexend:wght@100..900&family=Roboto:wght@100;300;400;500&display=swap');
header{
    background-color: #FFF;

}
.root {
    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #845EC2

}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }



body{
    font-family: 'Roboto', sans-serif;
    min-width: 120px;
    min-height: 100vh;
    
      
      
}

html, body {
    height: 100%;
    margin: 50px  0px ;
    padding: 0;
  }

header {
    top: 0; 
    width: 100%; 
    color: #fff; 
    z-index: 1000; 
    position: fixed;
    
  }

footer {
    bottom: 0px;
    width: 100%; 
    box-shadow: rgba(9, 30, 66, 0.13) 0px 0px 2px 1px;
    background-color: #FFF;
    overflow: auto;
    position: relative;
    bottom: 0;
    margin-top: auto;

}



.CategoryBtn{
    border: 1px solid black;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: bolder;

}

.CategoryBtn:Hover{
    background-color: #845EC2 ;
    border: none;
    color: white;
}

.Category-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}



