.course-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.Headercourse{
    display: flex;
    
    flex-direction: column;
    width: 100%;
}

.course-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lesson{
    width: auto;
}

.Enroll-btn{
    border: none;
    padding: 10px 0px;
    color: white;
    font-size: 20px;
    background-color: #FFC75F;
    border-radius: 10px;
    
}

.course-description img{
    width: 40px;
}

.software-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
    padding: 5px;
    justify-content: center;
}

.lesson-video{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 30px;

}

.CompleteLesson-btn{
    border: none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #01cc65;
    color: white;
    cursor: pointer;
}

.Headercourse-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.completecheck {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    color: #01cc65;
    cursor: pointer;
}

.completecheck::before {
    content: 'Complete';
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s, left 0.3s;
    background-color: #01cc65;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.completecheck:hover::before {
    opacity: 1;
    left: 100%; /* เลื่อนไปทางขวา */
}




/*   All Course   */
.card-wrapper{
    display: flex;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    
}



.image-content img{
    width: 250px;
    height: auto;
    border-radius: 25px;
    

    
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    padding: 14px ;
}
.card-content p{
    font-size: 14px;
    color: rgb(132, 132, 132);
}

.card{
    width: 250px;
    border-radius: 25px;
    height: auto;
    background-color: white;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
}

.view-btn{
    position: relative;
    top: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #FFC75F;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 3px;
    
}

.course-header-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 100px;
    gap: 5px;
    border-radius: 10px;
    padding: 20px 20px;
}

.course-header-container p{
    font-size: 14px;
}

.search-bar {
    width: 100%;
    border-radius: 10px;
    border: 1px black solid;
}

.category-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.category-container a{
    border: 2px solid #FFC75F;
    padding: 2px 10px;
    border-radius: 10px;
    color: #FFC75F;

}
.search-bar{
    flex-grow: 1;
}
.search-input{
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 10px;
    left: 10px;
    margin-left: 10px;
    outline: none;
    font-size: 15px;
    
}

.search{
    display: flex;
    justify-content: space-between;
}

.searchIcon{
    background-color: #272727;
    color: white;
    padding: 1px 5px;
    border: 2px solid #272727 ;
    margin: 0 auto;
    position: relative;
    right: 30px;
    border-radius: 0px 10px 10px 0px;
}

.course-search{
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    
}

.category-btn-container button{
    border: none;
    font-size: 15px;
    background-color: white;
    color: rgb(74, 74, 74);
    border: 2px rgb(74, 74, 74) solid;
    padding: 3px 10px;
    border-radius: 20px;
    cursor: pointer;

}

.course-search button{
    font-size: 15px;
    border: none;
    background-color: white;

    align-items: center;
}

.clear-btn{
    display: flex;
    border: 2px rgb(74, 74, 74) solid;
    border-radius: 20px;
    padding: 0px 10px;
    align-items: center;
    cursor: pointer;

}

.clear-btn button{
    cursor: pointer;

}


@media (max-width: 992px) {
    .course-container{
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        justify-content: center;
        
    }

    

}

@media (max-width: 600px) {
    iframe{
        width: 400px;
        height: 300px;
    }

    .card .card-content .description {
        display: none ;
    }
    .card .card-content .category{
        display: none;
    }
    .card{
        height: 300px;
        width: 200px;
    }
    .image-content img{
        width: 200px;
        height: auto;
        border-radius: 25px;
        
    }
    .view-btn{
        top: -120px;
        position: relative;
    }


    


}

@media (max-width: 480px) {
    iframe{
        width: 300px;
        height: 200px;
    }
    


}
